@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

#root {
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	color: rgb(55, 53, 47);
	background-color: #f5f5f5;
}

/* NOTE: HEADER styling */

.div-header {
	margin: 0 auto;
	max-width: 100%;
	padding: 0.5rem 1rem;
	width: 100%;
	top: 0;
	background-color: #f8fffe;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	margin-bottom: 1rem;
}

.div-header-child {
	display: flex;
	align-items: flex-start;
}

.header-logo {
	width: 35px;
	height: 50px;
	object-fit: cover;
}

.header-weight-600 {
	font-family: "Montserrat", sans-serif;
	font-size: 28px;
	line-height: 34px;
	font-weight: 600;
	margin-bottom: 0;
	margin-left: 1.5rem;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	white-space: nowrap;
	color: #5e1b89;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

/* NOTE: PARAGRAPH styling */

.align-right {
	text-align: right;
}

.paragraph-body-font {
	font-family: "Lato", sans-serif;
	font-size: 13px;
	line-height: 19px;
	font-weight: 400;
}

.strike-through {
	text-decoration: line-through;
}

/* NOTE: TABLE styling */

.div-table {
	font-family: "Lato", sans-serif;
	margin-top: 8px;
}

.div-table input[type="checkbox"] {
	cursor: pointer;
	transform: scale(1.1); /* Change this to the scale you want */
}

.div-table td,
.div-table td input[type="checkbox"] {
	cursor: pointer;
}

.div-table th {
	font-family: "Roboto Slab", sans-serif;
	font-weight: 400;
	color: #6c757d;
}

.table-data-description {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 200px; /* Change this to the maximum width you want */
}

.table-header-icon {
	font-size: 16px;
	margin-bottom: 1px;
	margin-right: 4px;
}

/* NOTE: CONTENT styling */

.div-content-header {
	margin: 0 auto;
	max-width: 1280px;
	padding: 1rem 0.75rem;
	border-radius: 3px;
	display: flex;
	align-items: center;
}

.div-content-header-text {
	font-family: "Montserrat", sans-serif;
	font-size: 28px;
	line-height: 34px;
	font-weight: 700;
	margin-left: 12px;
	color: #6c757d;
}

.div-content-header-img {
	width: 45px;
}

.div-content {
	margin: 0 auto;
	max-width: 1280px;
	padding: 0.5rem 1rem;
	background-color: #f8fffe;
	border-radius: 3px;
}

@media (max-width: 1280px) {
	.div-content-header,
	.div-content {
		margin: 0rem 1rem;
	}
}

.header-not-found {
	font-family: "Roboto Slab", sans-serif;
	font-size: 24px;
	line-height: 29px;
	font-weight: 400;
	color: #6c757d;
	margin-top: 2rem;
}

/* NOTE: BUTTON styling */

.button-font {
	font-family: "Roboto Slab", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-align: center;
	color: #ffffff;
}

.button-add {
	background-color: #5e1b89;
	border-radius: 3px;
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-family: "Roboto Slab", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	padding: 0.5rem 1rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
}

.button-add:hover {
	transition: 0.3s;
	background-color: #9b2edf;
}

.button-primary {
	background-color: #109280;
	border-radius: 3px;
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-family: "Roboto Slab", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	padding: 0.5rem 1rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
}

.button-primary:not(:disabled):hover {
	transition: 0.3s;
	background-color: #14b7a0;
}

.button-primary:disabled {
	opacity: calc(0.7);
	cursor: default;
}

.button-danger {
	background-color: #f4512c;
	border-radius: 3px;
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-family: "Roboto Slab", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	padding: 0.5rem 1rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
}

.button-danger:not(:disabled):hover {
	transition: 0.3s;
	background-color: #ff7f4d;
}

.button-danger:disabled {
	opacity: calc(0.7);
	cursor: default;
}

/* NOTE: TAB styling */

.tab {
	font-family: "Roboto Slab", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}
